body {
	overflow: auto !important;
}

body:after {
	display: none !important;
}

#hero,
.section-welcome,
.section-hours,
.section-menu,
.section-gallery,
.section-footer {
	opacity: 1.0 !important;
	transform: none !important;
	transition: none !important;
	filter: none !important;
}
